h1 {
    color: blue;
    font-family: "Arial";
    text-align: center;
}

h2, h3 {
    font-family: "Arial";
}

p {
    font-family: monospace;
}

footer {
    text-align: center;
}

.welcome {
    background-color: azure;
    width: 500px;
    text-align: center;
}