body {
    background-color:aliceblue;
    font-family: sans-serif;
}

#header {
    background-color: white;
    text-align: center;
    padding-top: 5px;
}

#container {
    background-color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding: 20px;
}

#nav {
    width:  250px;
    float: right;
    padding-left: 10px;
}

#main {
    width: 600px;
    float: left;
}

#footer {
    clear: both;
    text-align: center;
    padding: 10px;
    background-color: darkgrey
}
